*{
    padding: 0px;
    margin: 0px;
}

h1{
    color:rgb(129, 119, 139);
    text-align: center;
    font-size: 32px;
}

body{
    background-color: #f0f0f0;
    
}

p{
    margin-left: 20px;
    font-size: 25px;
    text-align: justify;
}

h2,h3{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
 iframe{
    margin-left: 500px;
 }
 li{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 25px;
 }